.f_family1{
    font-family: monospace;
}
.f_family2{
    font-family: Arial;
}
.f_family3{
    font-family: 'Times New Roman';
}
.f_family4{
    font-family: cursive;
}
.f_family5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}
